#knowledges {
  @apply min-h-[850px];
}
.knowledges-section {
  @apply bg-red-300 h-full w-full flex flex-col desktop:flex-row;
}
.know-boxes {
  @apply gap-1 p-1 flex-1 grid items-center justify-center overflow-hidden;
}
.know-description {
  @apply flex-1;
}
.know-boxes {
  grid-template-columns: minmax(90px, 130px) minmax(90px, 130px) minmax(90px, 130px);
  grid-template-rows: minmax(90px, 130px) minmax(90px, 130px) minmax(90px, 130px);
  grid-auto-flow: row dense;
}
